<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jogos Vorazes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<div class="divisao">

  <ion-item routerLink="/jogos-vorazes">
    <ion-thumbnail>
      <img alt="" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/hekpVNWOROZm57RS4OLW0ySkxx9.jpg"/>
    </ion-thumbnail>
    <ion-label><h1>Jogos Vorazes</h1></ion-label>
  </ion-item>

  <br>

  <ion-item routerLink="/eduardo-e-monica">
    <ion-thumbnail>
      <img alt="" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/eaCb1Rx0gCpJ6Zl60tyJZeJUu2H.jpg"/>
    </ion-thumbnail>
    <ion-label>Eduardo e Mônica</ion-label>
  </ion-item>

  <br>

  <ion-item routerLink="/as-vantagens-de-ser-invisivel">
    <ion-thumbnail>
      <img alt="" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/pUYWbq0I6oCrysxuL0OCxwB8wFp.jpg"/>
    </ion-thumbnail>
    <ion-label>As vantagens de ser invisível</ion-label>
  </ion-item>

</div>
<div class="divisao">

  <ion-item routerLink="/de-repente-trinta">
    <ion-thumbnail>
      <img alt="" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/3ZewXNdHKpRE0LrJhj07bWkwQm4.jpg"/>
    </ion-thumbnail>
    <ion-label>De repente 30</ion-label>
  </ion-item>

  <br>

  <ion-item routerLink="/castelo-animado">
    <ion-thumbnail>
      <img alt="" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/1hTfaEWktMJPxCk5nZNtK7F86C9.jpg"/>
    </ion-thumbnail>
    <ion-label>Castelo Animado</ion-label>
  </ion-item>

  <br>

  <ion-item routerLink="/malevola">
    <ion-thumbnail>
      <img alt="" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/kqifqRhUWjx5WT0OJPxWbcnzc2O.jpg"/>
    </ion-thumbnail>
    <ion-label>Malevola</ion-label>
  </ion-item>

</div>
</ion-content>
